._sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex: 1;
}
.sidebar_container {
  height: 100%;
}
.sidebar_image {
  /* border: 1px solid #0075F2; */
  background-color: #3a6ea5;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_mid{
    display: block;
}
.sidebar_mid_links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   margin-top:10px;
}
.sidebar_mid_links>a{
    display: flex;
    justify-content: space-evenly;
    margin:5px 0px;
    color:#607d8b;
    text-decoration: none;
    padding: 10px 20px;
}
.sidebar_mid_links>a>h5{
    font-size: 17px;
    
}
.sidebar_mid_links>a:hover{
   background-color:#cfd8dc;
   cursor: pointer;
}

.sidebar_bottom_container{
  position: absolute;
  bottom: 5px;
  
}
.sidebar_bottom{
  padding: 10px 20px;
  
}

.sidebar_links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  
}
.sidebar_link_item{
  font-size: 25px;
  margin:2px;
  color:#0075F2;
}